asgiref==3.8.1
Django==5.0.4
sqlparse==0.5.0
tzdata==2024.1
djangorestframework
psycopg2
djangorestframework-simplejwt
drf-yasg
setuptools
django-cors-headers
eventlet
dnspython
greenlet
celery
wcwidth
vine
six
prompt-toolkit
colorama
billiard
python-dateutil
click
amqp
kombu
click-repl
click-plugins
click-didyoumean
redis
cron-descriptor
python-crontab
django-timezone-field
django-celery-beat
requests
python-dotenv
pyflakes
pycodestyle
mccabe
flake8
coverage
